<header class="header-fixed">
	<div class="header-limiter">

		<h1><a href="#"><img src="../../../assets/angular-logo.png" style="width:4rem">Tour Of Heroes<span>Angular</span></a></h1>
		<nav>
			<a href="#" class="selected">Heroes</a>
			<a href="#">About</a>
			<a href="#">statistics</a>
			<a href="#">Contact Us</a>
		</nav>
	</div>
</header>
<!-- You need this element to prevent the content of the page from jumping up -->
<div class="header-fixed-placeholder"></div>
<!-- The content of your page would go here. -->

