  <nav class="nav">
    <input type="checkbox" name="" id="nav_checkbox" class="nav_checkbox">
    <label for="nav_checkbox" class="nav_toggle">
      <fa-icon id="bars_icon" [icon]="faBars" style="fill: white; font-size: 30px;" class="menu" (click)="toggleShow()" *ngIf="isShow" ></fa-icon>
      <fa-icon id="close_icon" [icon]="faTimes" style="color: white; font-size: 30px;" class="close" *ngIf="isShown" (click)="toggleShow2()"></fa-icon>
    </label>
    <ul class="nav_menu">
      <li class="logo_li">
        <img src="../../../../assets/logo/logo.png" class="menu_logo">
      </li>
      <li><a href="">Home</a></li>
      <li><a href="">Heroes</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Statistics</a></li>
    </ul>
  </nav>
