<footer>
  <div class="footerLogo">
    <img class="footerLogo1" src="../../../../assets/logo/logo.png">
  </div>
  <div class="socialNetworks">
    <span class="follow">Follow Us</span>
    <div class="iconsSocialNetwork">
      <img src="../../../../assets/socialNetwork/facebook (1).png">
      <img src="../../../../assets/socialNetwork/gorjeo 1.png">
      <img src="../../../../assets/socialNetwork/instagram 1.png">
      <img src="../../../../assets/socialNetwork/whatsapp (1).png">
    </div>
  </div>
  <nav class="footerNav">
    <li>
      <ul>About Us</ul>
      <ul>Privacy Policy</ul>
      <ul>Terms Of Use</ul>
    </li>
  </nav>
  <span><img class="footerLogo" src="../../../../assets/logo/logoFooter.png"></span>
</footer>
