<div class="categoryContainer">
    <div class="categories">
        <div class="divImg">
            <img class="imgHeroes" src="../../../../assets/categories/heroes.png" alt="Heroes">
        </div>
        <div class="categoryAddress">
            <p>Do you want to kwow more heroes?<br>Click the button and see them</p>
            <div class="btnContainer">
                <button class="categoryBtn">View Heroes</button>
            </div>
        </div>
    </div>
    <div class="categories">
        <div class="divImg">
            <img class="imgStatistic" src="../../../../assets/categories/estadisticas.png" alt="Statistics">
        </div>
        <div class="categoryAddress">
            <p>Disover the best statistics!<br>Click here!</p>
            <div class="btnContainer">
                <button class="categoryBtn">Statistics</button>
            </div>
        </div>
    </div>
    <div class="categories">
        <div class="divImg">
            <img class="imgContactUs" src="../../../../assets/categories/contact-us.png" alt="">
        </div>
        <div class="categoryAddress">
            <p>Would you like to tell with us?<br>We will want to help you!</p>
            <div class="btnContainer">
                <button class="categoryBtn">Contact Us</button>
            </div>
        </div>
    </div>
</div>
